// Mazzard=======================================
@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H Black'), local('MazzardH-Black'),
        url('../fonts/mazard/MazzardH-Black.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H Medium'), local('MazzardH-Medium'),
        url('../fonts/mazard/MazzardH-Medium.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H ExtraLight'), local('MazzardH-ExtraLight'),
        url('../fonts/mazard/MazzardH-ExtraLight.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H Light'), local('MazzardH-Light'),
        url('../fonts/mazard/MazzardH-Light.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H Thin'), local('MazzardH-Thin'),
        url('../fonts/mazard/MazzardH-Thin.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H Bold'), local('MazzardH-Bold'),
        url('../fonts/mazard/MazzardH-Bold.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H Regular'), local('MazzardH-Regular'),
        url('../fonts/mazard/MazzardH-Regular.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H SemiBold'), local('MazzardH-SemiBold'),
        url('../fonts/mazard/MazzardH-SemiBold.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard H';
    src: local('Mazzard H ExtraBold'), local('MazzardH-ExtraBold'),
        url('../fonts/mazard/MazzardH-ExtraBold.woff2') format('woff2'),
        url('../fonts/mazard/MazzardH-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

// Mazzard=====================================//
// Greatest Richmond=============================
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/greatest-richmand/') format('woff2'),
        url('../fonts/greatest-richmand/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// Greatest Richmond=============================
