// COLORS
$color-black-000: #000;
$color-light-dark-25292c: #25292c;
$color-light-dark-272727: #272727;
$color-light-black-414141: #414141;
$color-light-dark-504c4c: #504c4c;
$color-light-dark-555: #555;
$color-light-dark-gray-878787: #878787;
$color-light-gray-aaa: #aaa;
$color-light-gray-e4e4e4: #e4e4e4;
$color-light-gray-e6eaef: #e6eaef;
$color-light-gray-e1e1e1: #e1e1e1;
$color-light-gray-eceeef: #eceeef;
$color-light-gray-ebebeb: #ebebeb;
$color-light-gray-d5d5d5: #d5d5d5;
$color-light-gray-e2e2e2: #e2e2e2;
$color-dark-green-0a472e: #0a472e;
$color-dark-green-073522: #073522;
$color-light-green-3b6c58: #3b6c58;
$color-light-green-bac34e: #bac34e;
$color-purple-fbf4ea: #fbf4ea;
$color-light-purplu-e0bf96: #e0bf96;
$color-dark-blue-4c68a2: #4c68a2;
$color-light-blue-e8f8f7: #e8f8f7;
$color-light-blue-4285f4: #4285f4;
$color-light-blue-0791d6: #0791d6;
$color-light-blue-53d1f8: #53d1f8;
$color-light-purple: #f6a879;
$color-yellow-f4ed23: #f4ed23;
$color-white-fff: #fff;
$color-white-f4f4f4: #f4f4f4;
$color-light-red-f6f3e3: #f6f3e3;
$color-orange-ffa500: #ffa500;
$color-light-e6eaef: #e6eaef;

// FONTS
$font-mazzard: 'Mazzard H';
$font-Pacifico: 'Pacifico';

// Letter Spacing==============
$letter-spacing: 2.4px;

// Media========================
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;
$max-xxl: 1400px;

// Transition===================

$transition-duration: all 0.3s ease;
$transition-duration: all 0.3s ease;
