.aside-cart {
    @include width-height(3px, 100vh);
    @include transitionAll($transition-duration);
    @include visibility-hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 300;
    background-color: $color-black-000;
    transform: translateX(100%);

    &--show {
        @include visibility-visible;
        transform: translateX(0);
    }

    &__btn {
        @include flex(center, center);
        @include elementBorderProportiesLeftRight(0);
        @include elementBorderProportiesTop(3px solid);
        @include elementBorderProportiesBottom(3px solid);
        @include elementBorderProportiesLeft(3px solid);
        @include padding(16px);
        width: 58px;
        position: absolute;
        top: 45%;
        right: 0;
        z-index: 305;
        background-color: $color-white-fff;
    }

    &__icon {
        font-size: 24px;
        color: $color-light-green-bac34e;
    }

    &__quantity {
        @include FontsGeneralVariables(10px, 400, 20px);
        @include width-height(20px, 20px);
        @include borderRadius(50%);
        position: absolute;
        top: 6px;
        left: 6px;
        color: $color-white-fff;
        background-image: linear-gradient(#e8f8f7,#bac34e);
    }
}