#preloader {
    @include backgroundImgProporties(center center, cover);
    @include width-height(100%, 110vh);
    background-image: url('../../media/img/preloader/loader.gif');
    position: fixed;
    z-index: 1000000;
}